!!!
%head
  //%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
  %script{:type => "text/javascript", :src => "/scripts/jquery.min.js"}
  %script{:type => "text/javascript", :src => "/scripts/raphael-min.js"}
  %script{:type => "text/javascript", :src => "/scripts/raphaelle.js"}

%body
  =yield